@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Manrope', medium, sans-serif;
    --font-titles: 'PP Hatton', serif;
    --title-color: #1D3557;
}

body {
    font-family: var(--font-sans);
    background-color: #f7fafc;
}

.title-font {
    font-family: var(--font-titles);
}

.title-color {
    color: var(--title-color);
}